<app-modal    [ModalHide]="authHidden"   (modalHideChange)="authHide()"      >
    <div class="modal-header">
        <p class="text-2xl font-bold" heading>Your Account</p>
        <div class="modal-close cursor-pointer     text-right   "  (click)="authHide()"  >&#x2715;</div>
    </div>


    <app-tab-container>
        <app-tab>
            <app-login></app-login>
        </app-tab>
    </app-tab-container>


    
    
        <div>
            <app-tab>
                <app-register></app-register>
            </app-tab>
        </div>

      <!-- <div class="flex justify-between items-center pb-4">
        < Modal Close Button 
      </div> -->

</app-modal>
